In [2]:
print("I will be a programmer.\n    so, I docode every day for 20 minutes at least!")

I will be a programmer.
    so, I docode every day for 20 minutes at least!

In [4]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
print(a+b)

Enter a number:5
Enter a number:5
10

In [5]:
for i in range(1,100):
    if i%3==0 or i%5==0:
        print(i,end=' ')

3 5 6 9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99

In [15]:
number1=input("number1:")
number2=input("number2:")
type(number1)
type(number2)

number1:12
number2:33

str

In [16]:
print('number1: {}'.format(number1))
print('number2: {}'.format(number2))
type(int(number1))
type(int(number2))

number1: 12
number2: 33

int

In [7]:
sifat=[562,454,442,568]
a=max(sifat)
print("The max number is:",a)

The max number is: 568

In [65]:
nu=[]
a=int(input("How many input dowant to give ?"))
for i in range(a):
    num=int(input("Input:"))
    nu.append(num)
nu
b=max(nu)
print("The max value is:",b)

How many input dowant to give ?4
Input:2
Input:4
Input:3
Input:6
The max value is: 6

In [16]:
def sifat():
    num=int(input("Input number1:"))
    num1=int(input("Input number2:"))
    print("The multiplication result:",num*num1)
    print("The addition result:",num+num1)
    print("The subtraction result:",(num*num1)-(num+num1))

sifat()

Input number1:5
Input number2:6
The multiplication result: 30
The addition result: 11
The subtraction result: 19

In [91]:
list=[0,1,2,3,4,5,6,7,8,9,10]
list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
list1=[0,1,2,3,4,5,6,7,8,9,10]
list1[2],list1[5] = list1[5],list1[2]
list1

[0, 1, 5, 3, 4, 2, 6, 7, 8, 9, 10]

In [20]:
a=int(input())
for i in range(a+1):
    for s in range(i):
        print(i,end=' ')
    print(' ')

5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
My future plans after 'school of robotics' course on programming and robotics. For example:
1. I will practice what I learn daily.
2. I want to be a programmer.
3. I will read more about robotics programming.