In [2]:

import random
import pandas as pd
df = pd.read_csv("chatbot.csv")
df

,User,Bot
0,"yes, but i don't know where the orange cones are.",it doesn't matter. here he comes now with the...
1,how much money do you have?,"$1,000."
2,"she loves you, yeah, yeah, yeah!...",and you know you should be glad!
3,"oh, yes! ""let it be, let it be ""","there will be an answer, let it be!"
4,what's your mailing address?,"456 cherry drive, pasadena, ca 91170."
...,...,...
3719,that's what everyone says.,you're trying to tell me something.
3720,yes. all my life.,you're wearing out your right hand. stop using...
3721,that's true. it is a very funny movie.,you've seen it before?
3722,and he poured water into our glasses.,yuck! no water for me.
3723,okay. i'll tell you how the show ends.,zzz.

In [15]:
!pip install pathlib

Collecting pathlib
  Downloading https://files.pythonhosted.org/packages/78/f9/690a8600b93c332de3ab4a344a4ac34f00c8f104917061f779db6a918ed6/pathlib-1.0.1-py3-none-any.whl
Installing collected packages: pathlib
Successfully installed pathlib-1.0.1